---
Title: Cake.EntityFramework6
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>    
    <p>
        Cake.EntityFramework6 is a set of Cake aliases for Entity Framework 6.3 or above (not .NET Core) code-first migration using the ef6.exe command line interface (cli).        
    </p>
</div>